body{background: #a39e9e;}

h3{
	color: #000000;
	font-family:"Courier New";
	font-weight:600;
}

textarea{
	color:#999;
	border-radius:3px;
	border:none;

}

button{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
font-family:"Courier New";
font-weight:600;
color:#000000;
text-align:center;
transition: all 0.2s;
}
button:hover{
background-color:#a39e9e;
}
@media all and (max-width:30em){
button{
display:block;
margin:0.4em auto;
}
}